.cards {
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
  font-family: Fantasy;
  color: blanchedalmond;
  font-size: 44px;
  background-color: darkblue
}

.scene {
  width: 125px;
  height: 125px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  display: inline-block
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: blanchedalmond;
}

.card__face--back {
  /* background: blanchedalmond; */
  transform: rotateY(180deg);
}
